<nav class="navbar navbar-default" style="padding: 0">
    <div class="">
        <ul class="nav navbar-nav" style="padding: 0">
            <li><a href="/" style="font-size: 1.5em"><strong>Cars</strong></a></li>
            <li><a href="addCar">Add</a></li>
            <li><a href="carList">List</a></li>
            <li><a href="editCar">Edit</a></li>
        </ul>
    </div>
</nav>